<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
  <Properties>
          <property name="pattern_console">%d{yyy-MM-dd HH:mm} %-5level %logger{1} -%msg%n</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
        <RollingFile name="CustomFile" fileName="logs/log.txt"
                     filePattern="${pattern_console}">
            <PatternLayout>
                <Pattern>%d %p %c [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 KB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="CustomFile"/>
        </Root>
    </Loggers>
</Configuration>